@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html {
    scroll-behavior: smooth !important;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif !important;
    overflow-x: hidden;
    padding-top: 56px;
}


/* colors */

.color-main-white {
    color: #ffffff;
}

.color-main-blue {
    color: #0148F9;
}

.color-main-blue-20 {
    color: #0148F9;
    opacity: 20%;
}

.color-main-grey {
    color: #667DA3;
}

.color-main-sec-dark {
    color: #5D6E8B;
}

.border-color-main-grey {
    border-color: #667DA3;
    opacity: 100% !important;
}

.color-main-dark {
    color: #1A325A;
}

.color-main-pink {
    color: #EF40A9;
}

.light-blue-bg {
    background-color: #0148F929
}

.dark-blue-bg {
    background-color: #1A325A
}


/* button */

.button {
    display: flex;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    border: 0 none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    color: #ffffff !important;
    border-radius: 0.75rem!important;
    background-color: #EF40A9;
}

.button:hover {
    transition: all 150ms linear;
    opacity: .85;
    background-color: #fd62bf;
    opacity: 1;
}

.button:active {
    transition: all 150ms linear;
    opacity: .75;
    background-color: #fd62bf;
    opacity: 1;
}


/* util */

.fw-semi-bold {
    font-weight: 600!important;
}

.vh-90 {
    height: 90vh!important;
}

a {
    color: inherit !important;
    text-decoration: inherit !important;
}

.mt-n3 {
    margin-top: -2.5rem !important;
}

.mt-n10 {
    margin-top: -10rem !important;
}

.rounded-more {
    border-radius: 1rem!important;
}

.rounded-bottom-more {
    border-bottom-right-radius: 1rem!important;
    border-bottom-left-radius: 1rem!important;
}

.h-100 {
    height: 100%;
}

.gy-6 {
    --bs-gutter-y: 8rem !important;
}


/* services, contact */

.icon-ok-circle {
    color: #FDC966;
}

.step-icon {
    z-index: 1;
}

.vertical-dotted-line {
    border-left: 0.2rem dashed #CFE1FF;
    height: 140%;
}


/* background objects */

.triangle {
    position: absolute;
    right: -10vw;
    width: 46vw !important;
    z-index: -1;
    overflow: hidden;
}

.cube {
    position: absolute;
    right: -10vw;
    height: 70vh !important;
    z-index: -1;
    overflow: hidden;
}

@media (max-width: 991.98px) {
    .triangle {
        right: 0vw;
    }
    .cube {
        right: 0vw;
    }
}


/* footer */

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #FFFFFF;
}

footer p {
    margin-bottom: .25rem;
}


/* carousel */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    position: sticky !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* hero */

.orb-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2999;
    pointer-events: none;
}

.orb-overlay:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 1px;
    z-index: 2999;
    box-shadow: 0 0 100px 200px white;
    pointer-events: none;
}

.click-through {
    pointer-events: none;
}

.hero-background {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 2000 !important;
}

.text-position {
    z-index: 3000 !important;
    position: relative;
}


/* nav */

.fixed-nav {
    position: fixed !important;
    top: 0;
    width: 100vw;
    z-index: 4000;
}

@media (max-width: 580px) {
    .hero-text {
        font-size: calc(1.2rem + 3.9vw) !important;
    }
}

@media (max-width: 991.98px) {
    .offcanvas-collapse {
        padding-top: 3rem;
        position: fixed;
        top: 0px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 50%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #FFFFFF;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        visibility: visible;
        transform: translateX(-100%);
    }
    /* FOR LANGUAGE SELECTION .nav-item:last-child {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
    } */
}


/* header */

.scrolled-down {
    transform: translateY(-100%);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

#navbarSideCollapse {
    z-index: 5;
}

.navbutton {
    border: none !important;
}

.navbutton:focus {
    color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0 !important;
}

.navicon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.navicon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 100;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navicon span {
    background: #1A325A;
}

.navicon span:nth-child(1) {
    top: 0px;
}

.navicon span:nth-child(2),
.navicon span:nth-child(3) {
    top: 10px;
}

.navicon span:nth-child(4) {
    top: 20px;
}

.navicon.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.navicon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navicon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navicon.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}